@charset "utf-8";
body {
    width: 100%;
    height: 100%;
    color: #333;
    background: black;
    font-size: 1em;
    font-family: Comic sans MS, sans serif;
    line-height: 100%;
    margin: 0;
}

header, footer {
    width: 100%;
    margin: 0 auto;
    background-color: olivedrab;
    border: 2px solid black;
}
header {
border-bottom: 2px outset forestgreen;
    height:30px;
    padding:25px;
}

.logo{
    width:200px;
    float:left;
    height:10px;
    display:block;
    margin-left:30px;
    font-size: 20px;
    padding-right: 200px;

}
.Name{
    display: block;
    width:900px;
    text-decoration:none;
    color: brown;
    font-size:40px;
}
.WEB{
    color: brown;
}
.SITE{
    color: chocolate;
}
footer{
    border-top: 2px outset forestgreen;
    margin-top: 10px;

}
nav{
    width:960px;
    margin: 0 auto;
}
nav:before{
    content:"";
    display:block;
    height:50px;
    width:100%;
    background: black;
    position: absolute;
    left:0;
    z-index:-1;
}
.MainBlock{
    background-color: grey;
    max-width: 960px;
    margin: 0 auto;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
    height:50px;
}
ul li{
    float:left;
}
ul li a {
    color:#fff;
    display:block;
    height:50px;
    padding:0 30px;
    text-transform:uppercase;
    text-decoration:none;
    line-height:50px;
}
ul li a:hover{
    background: forestgreen;
}


th {
    border: 2px outset black;
}
td {
    border: 2px outset black;
}

tr{
    background-color: slategrey;
    font-size:15px;
}